body.index{
  margin-top: 5rem;
  margin-left: 30rem;
  margin-right: 30rem;

}
body.bienv{
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
body.bodyj1{
  margin-top: 5rem;
}
div.form-label-group{
  margin: 2rem;
}
.form-control{
  margin-right: 10rem;
}
.btnb{
  margin-top: 5rem;
}
.res{
  margin-left: 3cm;
  margin-right: 0cm;
}
.btnj{
  margin: 3rem;
}
.bodyj2{
  margin-top: 3rem;
}
body.bodyr1{
  margin: 20px;
}