<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/bootstrap-grid.css">
  <link rel="stylesheet" href="../static/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Bienvenida</title>
</head>
<body class="center bienv" background="../static/img/background-blank-empty-62693.jpg">
  <form action="/click_salir" method="get">
    <input type="submit" class="btn btn-danger " value="Salir">
  </form>
  <form action="/click_jugar" method="get">
      <div class="container-fluid">
        <h1 class="display-4 mb-6 bg-dark text-white font-italic">"Bienvenido {{user}} a mi primera aplicacion en la nube. Juguemos un juego!"</h1>
          <input type="submit" class="btn btnb btn-primary btn-lg btn-block" value="Jugar">
      </div>
  </form>

    
  
</body>
</html>